{% extends "reports-base.html" %}
{% block base_content %}
{% block body_class %}{% endblock %}{% block body_id %}{% endblock %}
<h1></h1>
    <a href="/csv{{ request.path }}">download as csv</a>
    <table>
        <thead>
        </thead>
        <tbody>
          <tr>
            <th>Location#</th>
            <th>Location</th>
            {% for beverage in beverages %}
            <th>{{ beverage }}</th>
            {% endfor %}
          </tr>
         {% for location, row in grid %}
          <tr>
            <th>{{ location.location_number }}</th>
            <th>{{ location }}</th>
            {% for total in row %}
            <td>{{ total }}</td>
            {% endfor %}
          </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}
