{% extends 'dashboard-base.html' %}

{% block base_content%}
<table class="dashboard">
  <thead>
    <tr>
      <th>Location</th>
      <th># of Notes</th>
      <th>Last Note Timestamp</th>
      <th>Time Since Last Note</th>
      <th>Location #</th>
    </tr>
  </thead>
  <tbody>
  {% for location in locations %}
  {% if location.note_count > 0 %}
    <tr>
      <td><a href="/notes/{{ location.location_number }}">{{ location.name }}</a></td>
      <td><a href="/notes/{{ location.location_number }}">{{ location.note_count }}</a></td>
      <td><a href="/notes/{{ location.location_number }}">{{ location.oldest_note|default_if_none:"--"}}</a></td>
      <td><a href="/notes/{{ location.location_number }}">{% if location.oldest_note %}{{ location.oldest_note|timesince}}{% else %}--{% endif %}</a></td>
      <td><a href="/notes/{{ location.location_number }}">{{ location.location_number|default:"--" }}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
