{% extends 'dashboard-base.html' %}

{% block base_content%}
<table class="dashboard">
  <thead>
    <tr>
      <th>Location</th>
      <th>Unfilled Orders</th>
      <th>Oldest Unfilled Order Time</th>
      <th>Time Since Oldest Unfilled Order</th>
      <th>Location #<th>
    </tr>
  </thead>
  <tbody>
  {% for location in locations %}
    <tr>
      <td><a href="/location/{{ location.location_number }}">{{ location.name|default:"--" }}</a></td>
      <td><a href="/location/{{ location.location_number }}">{{ location.undelivered|default:"--" }}</a></td>
      <td><a href="/location/{{ location.location_number }}">{{ location.latest_order|default:"--"}}</a></td>
      <td><a href="/location/{{ location.location_number }}">{{ location.latest_order|timesince }}</a></td>
      <td><a href="/location/{{ location.location_number }}">{{ location.location_number|default:"--" }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
