{% extends 'dashboard-base.html' %}

{% block base_content%}
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th># of Notes</th>
      <th>Last Note Timestamp</th>
      <th>Time Since Last Note</th>
      <th>Location #</th>
    </tr>
  </thead>
  <tbody>
  {% for location in locations %}
    <tr>
      <td>{{ location.name }}</td>
      <td>{{ location.note_count }}</td>
      <td>{{ location.oldest_note|default_if_none:"--"}}</td>
      <td>{% if location.oldest_note %}{{ location.oldest_note|timesince}}{% else %}--{% endif %}</td>
      <td>{{ location.location_number|default:"--" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
