{% extends 'dashboard-base.html' %}

{% block base_content%}
<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Last Note Person</th>
      <th>Last Note Timestamp</th>
      <th>Time Since Last Note</th>
      <th>Station #</th>
    </tr>
  </thead>
  <tbody>
  {% for location in locations %}
    <tr>
      <td>{{ location.name }}</td>
      {% for note in location.note_set.all %}
        {% if note.timestamp == location.oldest_note %}
        <td>{{ note.user }}</td>
        {% endif %}
      {% endfor %}
      <td>{{ location.oldest_note}}</td>
      <td>{{ location.oldest_note|timesince }}</td>
      <td>{{ location.location_number }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
