{% extends "tokenreport-base.html" %}

{% block base_content %}
<table>
  <thead>
    <tr>
      <th>Beverage Station</th>
    {% for day in dates %}
    <th>{{ day|date:"l" }}</th>
    {% endfor %}
    <th>Total</th>
  </tr>
  </thead><tbody>
  {% for location, row in grid %}
  <tr>
    <td>{{ location.name }}</td>
    {% for total in row %}
    <td>{{ total }}</td>
    {% endfor %}
  </tr>
    {% endfor  %}
  </tbody>
  <tr>
    <td>Grand Total</td>
    {% for daytotal in grandtotal %}
    <td>
      {{ daytotal }}
    </td>
    {% endfor %}
  </tr>

</table>
{% endblock %}

