{% extends "base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}inventory-history{% endblock %}
{% block base_content %}

<h1>{{ location.name }} - {{ location.location_number }}</h1>
<h3 class="orgName">{{ location.organization }}</h3>

<div class="table-wrap">
    <table>
	<thead>
	    <tr>
		<th>Beverage Offered</th>
		<th>Units Reported</th>
	    </tr>
    </thead>

	
  {% for row in grid %}
  {% for date, user, beverage, inv in row %}
  {% ifchanged %}
  <tr class="datetime">
    <td colspan="4"><b>Reported At:</b> {{date|date:"fA l F j, Y" }}</td>
  </tr>
  <tr class="reporter">
    <td colspan="4"><b>Reported By:</b> {{user.first_name}} {{user.last_name}}</td>
  </tr>
	{% endifchanged %}
	<tr>
	    <td>{{ beverage }}</td>
	    <td>{{ inv }}</td>
	</tr>
  {% endfor %}
	{% endfor %}
    </table>
</div>

{%if perms.inventory.add_inventory %}
<a class="buttonish" href="/update-inventory/{{location.location_number}}">Update Inventory</a>
{% endif %}
{% if perms.inventory.add_order %}
<a class="buttonish" href="/record-order/{{location.location_number}}">Record Order</a>
{% endif %}

{% endblock %}
