{% extends "reports-base.html" %}
{% block body_class %}{% endblock %}{% block body_id%}latest-inventories{% endblock %}

{% block base_content %}
{% for location, beverage, time, reporter in grid %}

<h1>{{ location }} - {{ location.location_number }}</h1>
<p class="datetime"><b>Reported At: </b>{{time.0}}</p>
<p class="reporter"><b>Reported By: </b>{{reporter.0.first_name}} {{reporter.0.last_name}}</p>
<table>
  <thead>
    <tr>
      <th>Beverage Offered</th>
      <th>Units Reported</th>
      <th>Order When Below</th>
      <th>Fill To Standard</th>
    </tr>
  </thead>
  <tbody>
    {% for thing in beverage %}
    <tr>
      <td>
        {{ thing.0 }}
      </td>
      <td class="{% if thing.1 <= thing.2 %}low{% endif %}">
        {{ thing.1 }}
      </td>
      <td>
        {{ thing.2 }}
      </td>
      <td>
        {{ thing.3 }}
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
