{% extends "reports-base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}latest-orders{% endblock %}

{% block base_content %}

{% for order in orders %}

<p>{{ order.location }} - {{ order.beverage }} {{ order.units_ordered }}- {{ order.order_delivered }}</p>
{% endfor %}


{% for location, beverage, time, reporter in grid %}

<h1>{{ location }} - {{ location.location_number }}</h1>
<p class="datetime"><b>Reported At: </b>{{time.0}}</p>
<p class="reporter"><b>Reported By: </b>{{reporter.0.first_name}} {{reporter.0.last_name}}</p>
<table>
  <thead>
    <tr>
      <th>Beverage Offered</th>
      <th>Units Ordered</th>
      <th>Order Delivered</th>
    </tr>
  </thead>
  <tbody>
    {% for thing in beverage %}
    {% if thing.1 > 0 %}
    <tr>
      <td>
        {{ thing.0 }}
      </td>
      <td>
        {{ thing.1 }}
      </td>
      <td>
        {{ thing.2 }}
      </td>
  </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}

