{% extends "base.html" %}
{% block base_content %}
{% block body_class %}{% endblock %}{% block body_id %}{% endblock %}

{% for location, beverage in grid %}

<h1>{{ location }}</h1>
<table>
  <thead>
    <tr>
      <th>Beverage Offered</th>
      <th>Units Reported</th>
      <th>Other</th>
      <th>Other</th>
      <!--<th>Order When Below</th>-->
      <!--<th>Fill To Standard</th>-->
    </tr>
  </thead>
  <tbody>
    {% for name in beverage %}
    <tr>
      <td>
        {{ name.0 }}
      </td>
      <td>
        {{ name.1 }}
      </td>
      <td>
        {{ name.2 }}
      </td>
      <td>
        {{ name.3 }}
    </td>   
  </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
