{% extends "base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}last-inventory{% endblock %}
{% block base_content %}

<h1>{{ location.name }} - {{ location.location_number }}</h1>
<h3 class="orgName">{{ location.organization }}</h3>
<div class="table-wrap">
    <table>
	<thead>
	    <tr>
		<th>Beverage Offered</th>
		<th>Units Reported</th>
		<th>Order When Below</th>
		<th>Fill To Standard</th>
	    </tr>
	</thead>
	
	{% for i in inventory %}

	{% ifchanged %}
	<tr class="datetime">
    <td colspan="4"><b>Reported At:</b> {{i.timestamp|date:"fA l F j, Y" }}</td>
  </tr>
  <tr class="reporter">
    <td colspan="4"><b>Reported By:</b> {{ i.user.first_name}} {{ i.user.last_name}}</td>
  </tr>
	{% endifchanged %}
	<tr>
	    <td>{{ i.beverage.name }}</td>
      {% for ls in i.beverage.locationstandard_set.all %}
      {% if ls.location == location %}
      <td class="{% if i.units_reported <= ls.order_when_below %}low{% endif %}">{{ i.units_reported }}</td>
      <td> {{ ls.order_when_below }}</td>
      <td>{{ ls.fill_to_standard }}</td>
      {% endif %}
      {% endfor %}
	</tr>
	{% endfor %}
    </table>
</div>

{%if perms.inventory.add_inventory %}
<a class="buttonish" href="/update-inventory/{{location.location_number}}">Update Inventory</a>
{% endif %}
{% if perms.inventory.add_order %}
<a class="buttonish" href="/record-order/{{location.location_number}}">Record Order</a>
{% endif %}

{% endblock %}
