{% extends "base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}order-history{% endblock %}
{% block base_content %}

<h1>{{ location.name }} - {{ location.location_number }}</h1>
<h3 class="orgName">{{ location.organization }}</h3>

<div class="table-wrap">
    <table class="order-table">
	<thead>
	    <tr>
		<th>Beverage Offered</th>
		<th>Units Ordered</th>
		<th>Order Sent</th>
	    </tr>
	</thead>
	
	{% for o in order %}
	{% ifchanged %}
  <tr class="datetime">
    <td colspan="4"><b>Reported At:</b> {{o.timestamp|date:"fA l F j, Y" }}</td>
  </tr>
  <tr class="reporter">
    <td colspan="4"><b>Reported By:</b> {{ o.user.first_name}} {{ o.user.last_name}}</td>
  </tr>
	{% endifchanged %}
  <tr>
	    <td>{{ o.beverage.name }}</td>
      <td>{{ o.units_ordered }}</td>
      {% if perms.inventory.add_order %}
      {% if o.order_delivered == False %}
        <td></td>
        {% else%}
        <td class="deliver" data-deliver="/record-delivery/{{location.location_number}}/{{o.pk}}/{{o.order_delivered}}">{{o.order_delivered}}</td>
        {% endif %}
      {% else %}
      <td>{{ o.order_delivered }}</td>
      {% endif %}
	</tr>
	{% endfor %}
    </table>
</div>

{%if perms.inventory.add_inventory %}
<a class="buttonish" href="/update-inventory/{{location.location_number}}">Update Inventory</a>
{% endif %}
{% if perms.inventory.add_order %}
<a class="buttonish" href="/record-order/{{location.location_number}}">Record Order</a>
{% endif %}

{% endblock %}
