{% extends "base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}starting-inventory{% endblock %}
{% block base_content %}
<h1>{{ location.name }} - {{ location.location_number }}</h1>
<h3 class="orgName">{{ location.organization }}</h3>


<table>
    <thead>
        <tr>
            <th>Beverage Offered</th>
            <th>Units</th>
        </tr>
    </thead>
    {% for i in inventory %}
    <tr>
        <td>{{ i.beverage.name }}</td>
        <td>{{ i.start_units }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
