{% extends "reports-base.html" %}
{% block body_class %}{% endblock %}{% block body_id %}unfilled-orders{% endblock %}

{% block base_content %}
{% for location, beverage, time, reporter in grid %}

<h1>{{ location }}</h1>
<table>
  <thead>
    <tr>
      <th>Beverage Offered</th>
      <th>Order Placed Time</th>
      <th>Order Delivered</th>
    </tr>
  </thead>
  <tbody>
    {% for thing in beverage %}
    <tr>
      <td>
        {{ thing.0 }}
      </td>
      <td>
        {{ thing.1 }}
      </td>
      <td>
        {{ thing.2 }}
      </td>
  </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}


