{% extends "base.html" %}
{% block body_class %}update{% endblock %}{% block body_id %}{% endblock %}
{% block base_content %}
<h1>{{location.name}}</h1>
<form action="/update-inventory/{{location.location_number}}" method="post">
 <h3 class="errorHeading">You have <span class="num"></span> on your form.</h3>
<h3 class="errorHeading">Please review all messages below before submitting again.</h3>

    {% csrf_token %}
    <ul class="form">
      {{ formset.as_ul }}
    </ul>
    <input type="submit" class='submit' value="Update Inventory"/>
    <a class="cancelButtonish" href="/location/{{location.location_number}}">Cancel</a>
</form>

{% endblock %}
