/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #ffff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #AC432C;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.user-account #nav {
  display: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 29, 2012 */
@font-face {
  font-family: 'IcoMoonRegular';
  src: url("fonts/icomoon-webfont.eot");
  src: url("fonts/icomoon-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon-webfont.woff") format("woff"), url("fonts/icomoon-webfont.ttf") format("truetype"), url("fonts/icomoon-webfont.svg#IcoMoonRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(../img/bg-noise.jpg) 0 0;
  color: #fff;
  font-size: 14px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 0;
  margin: 0 0 40px 0;
  background-color: #81ab57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81ab57), to(#5e833a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #81ab57, #5e833a);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #81ab57, #5e833a);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #81ab57, #5e833a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #81ab57, #5e833a);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #81ab57, #5e833a);
  overflow: auto;
}

header .logout {
  position: absolute;
  right: 0;
  color: #fff;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

header .logout a, header .logout a:visited {
  color: #fff;
  text-decoration: none;
}

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav li {
  float: left;
  border-right: 1px solid #618343;
  box-shadow: 1px 0px 0px #739B51;
}

#nav li:first-child {
  /*border-left: 1px solid #416D3B;*/
}

#nav li:last-child {
  border: none;
  box-shadow: none;
}

#nav li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 0px #444;
}

/*NAVIGATION STYLES*/
.selected {
  background: url(../img/bg-noise.jpg) 0 0 repeat;
}

/*END NAVIGATION STYLES*/
#main {
  max-height: 668px;
}

.low {
  color: #ff5500;
  font-weight: bold;
}

/*STYLES FOR TABLES*/
@media all and (orientation: landscape) {
  .table-wrap {
    height: 380px;
    overflow: scroll;
  }
}
@media all and (orientation: portrait) {
  .table-wrap {
    height: 700px;
    overflow: scroll;
  }
}
table {
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #fff;
}

tr {
  border-bottom: 1px dotted #6D6D6D;
}

tr.datetime, tr.reporter {
  border: none;
}

.datetime td, .reporter td {
  padding: 30px 0 8px 5px;
  color: #E26E0A;
}

.datetime, .reporter {
  color: #E26E0A;
}

.reporter td {
  padding: 0 0 8px 5px;
}

th {
  text-align: left;
}

td, th {
  padding: 15px 5px;
}

.deliver {
  position: relative;
  background: #2F383C;
}

.deliver::after {
  content: '\21B5';
  position: absolute;
  right: 8px;
}

/*STYLES FOR TABLES*/
.timestamp {
  color: #E26E0A;
  margin: 30px 0 0 0;
}

header h1 {
  float: left;
  color: white;
  font-size: 26px;
  margin: 0;
}

header h2 {
  float: left;
  clear: both;
  font-size: 34px;
  color: white;
  margin: 0;
}

#container {
  margin: 0 auto;
}

h3 {
  color: #888;
}

.text {
  width: 650px;
  margin: 20px;
}

.main-content {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  overflow: auto;
  margin: 0 0 100px 0;
}

#login form {
  padding: 0 30px 0 0px;
}

form {
  width: 770px;
}

.form {
  list-style: none;
  padding: 0;
}

.form li {
  border-bottom: 1px dotted #6D6D6D;
  padding: 8px 0;
}

.form .labelish, .form li input {
  background: none;
  border: 1px solid transparent;
  color: #fff;
  -webkit-appearance: none;
}

.form li input.number:focus {
  border: 1px solid green;
  background: #111;
  -webkit-appearance: none;
}

.form li input.number {
  background: #262d30;
  border-radius: 6px;
  border: 1px solid #222;
}

.form li:nth-child(even) {
  float: left;
  clear: both;
  width: 550px;
}

.form li:nth-child(odd) {
  float: left;
  position: relative;
}

.form .errorlist {
  position: absolute;
  right: -100%;
}

.form .errorlist li {
  border: none;
}

.column {
  width: 450px;
  margin: 0 0 40px 10px;
  float: left;
}

.right-column {
  float: left;
  width: 400px;
  margin: 65px 0 0 30px;
}

.forgot-password {
  font-size: 11px;
}

form p {
  margin: 8px 0 0 0;
  position: relative;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

input, textarea {
  padding: 8px;
  border: 1px solid #AAA;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 99%;
}

input[type="submit"] {
  margin: 30px 0 20px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #81ab57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81ab57), to(#5e833a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #81ab57, #5e833a);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #81ab57, #5e833a);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #81ab57, #5e833a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #81ab57, #5e833a);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #81ab57, #5e833a);
  padding: 17px 0 13px 0px;
  text-shadow: 1px 1px 0px #1e574d;
  border-radius: 4px;
  border: 1px solid #497043;
}

.account input[type="checkbox"] {
  width: auto;
  display: block;
  float: right;
  margin: 7px 390px 0 0;
}

#info input[type="checkbox"] {
  width: auto;
  display: block;
  margin: 7px 0 0 0;
  float: none;
}

.buttonish, .cancelButtonish {
  display: inline-block;
  text-align: center;
  padding: 1px 0 3px 0;
}

button, .buttonish, .cancelButtonish {
  width: 49%;
  line-height: 2em;
  margin: 25px 0px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #81ab57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81ab57), to(#5e833a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #81ab57, #5e833a);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #81ab57, #5e833a);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #81ab57, #5e833a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #81ab57, #5e833a);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #81ab57, #5e833a);
  text-shadow: 1px 1px 0px #1e574d;
  border-radius: 4px;
  border: 1px solid #497043;
}

button a, button a:hover, button a:visited, a.buttonish,
a.buttonish:hover, a.buttonish:visited, .cancelButtonish {
  text-decoration: none;
  color: #fff;
}

.cancelButtonish, .cancelButtonish:hover {
  color: white;
  background-image: linear-gradient(bottom, #4d4d4d 0%, #787878 50%);
  background-image: -o-linear-gradient(bottom, #4d4d4d 0%, #787878 50%);
  background-image: -moz-linear-gradient(bottom, #4d4d4d 0%, #787878 50%);
  background-image: -webkit-linear-gradient(bottom, #4d4d4d 0%, #787878 50%);
  background-image: -ms-linear-gradient(bottom, #4d4d4d 0%, #787878 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d4d4d), color-stop(0.5, #787878));
  border: 1px solid #222;
  text-shadow: 1px 1px 0px #1e574d;
  width: 99%;
}

.cancelButtonish.small {
  width: 377px;
}

.js .helptext {
  display: none;
  position: absolute;
  right: -395px;
  top: 5px;
  width: 350px;
  padding: 20px;
  color: white;
  background-color: #72C7B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72c7b8), to(#579f93));
  background-image: -webkit-linear-gradient(top, #72c7b8, #579f93);
  background-image: -moz-linear-gradient(top, #72c7b8, #579f93);
  background-image: -ms-linear-gradient(top, #72c7b8, #579f93);
  background-image: -o-linear-gradient(top, #72c7b8, #579f93);
  background-image: linear-gradient(to bottom, #72c7b8, #579f93);
  text-shadow: 1px 1px 0px #1e574d;
  border-radius: 4px;
  border: 1px solid #57998e;
}

.errorHeading {
  color: #f50;
  display: none;
}

.errorlist {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  color: #f50;
}

.js .terms {
  text-decoration: underline;
  color: blue;
}

#blanket {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  opacity: .6;
  width: 100%;
  height: 100%;
}

.js #modalOuter {
  position: fixed;
  left: 50%;
  top: 5%;
  height: 75%;
  display: none;
}

.js #modal {
  /*display: none;*/
  top: 5%;
  left: -50%;
  width: 480px;
  padding: 30px;
  background: #000;
  border-radius: 10px;
  /*border: 8px solid #3E3A3E;*/
  max-height: 100%;
  overflow: scroll;
  position: relative;
  font-size: 14px;
}

#modal .modal-text {
  font-size: 16px;
  font-weight: bold;
}

#modal button {
  margin: 25px 4px 25px 0;
}

.js .close {
  position: absolute;
  top: -10px;
  left: 116px;
  background: #3E3A3E;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#accounthome .left {
  float: left;
  width: 390px;
  margin: 20px 20px 20px 0;
}

#accounthome .right {
  float: left;
  width: 550px;
  margin: 20px 0 20px 20px;
}

.big-pill {
  border-radius: 4px;
  border: 1px solid #57998e;
  overflow: auto;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, white, #e7e7e7);
  background-image: -moz-linear-gradient(top, white, #e7e7e7);
  background-image: -ms-linear-gradient(top, white, #e7e7e7);
  background-image: -o-linear-gradient(top, white, #e7e7e7);
  background-image: linear-gradient(to bottom, white, #e7e7e7);
}

.big-pill h2, .big-pill h3 {
  float: left;
  margin: 0;
  padding: 10px;
  text-shadow: 1px 1px 0px #fff;
  color: #387e72;
}

.big-pill a {
  float: right;
  width: 170px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #72C7B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72c7b8), to(#579f93));
  background-image: -webkit-linear-gradient(top, #72c7b8, #579f93);
  background-image: -moz-linear-gradient(top, #72c7b8, #579f93);
  background-image: -ms-linear-gradient(top, #72c7b8, #579f93);
  background-image: -o-linear-gradient(top, #72c7b8, #579f93);
  background-image: linear-gradient(to bottom, #72c7b8, #579f93);
  padding: 15px 0 15px 20px;
  text-shadow: 1px 1px 0px #1e574d;
  border-left: 1px solid #57998e;
}

.big-pill span.plus {
  background: url(../img/plus.png) 0 0 no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.locations-table {
  width: 100%;
}

.locations-table tr {
  border-bottom: 1px solid #959595;
  box-shadow: 0 1px 0px #fff;
}

.account-table th {
  text-align: left;
  padding: 10px 10px 10px 0;
}

.account-table td {
  padding: 10px 10px 10px 0;
  color: #6e6a5e;
}

.locations-table th {
  text-align: left;
  padding: 15px 15px 15px 0;
}

.locations-table td {
  padding: 15px 0px 15px 15px;
  color: #6e6a5e;
  text-align: right;
}

.locations {
  margin: 60px 0 0 0;
}

.promotions-table {
  width: 100%;
}

.promotions-table tr.promo-bottom {
  border-bottom: 1px solid #959595;
}

.promotions-table th {
  text-align: left;
  padding: 5px 15px 5px 0;
  vertical-align: top;
}

.promotions-table td {
  padding: 5px 0px 5px 15px;
  color: #6e6a5e;
}

.prev {
  width: 44%;
}

.interaction {
  text-align: right;
}

.goingAway {
  background: #F8F2AF;
}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .7;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
